<div class="layout-comment">

	<% if(theme.comment.enable) { %>

		<% if(theme.gitalk.enable) { %>

			<!-- comment gitalk -->
			<%- partial('comment/gitalk') %>

		<% } if(theme.valine.enable && !theme.leancloud_count.enable) { %>

			<!-- comment valine -->
			<%- partial('comment/valine') %>

		<% }  if(theme.livere.enable) { %>

			<!-- comment livere -->
			<%- partial('comment/livere') %>

		<% }  if(theme.disqus.enable) { %>

			<!-- comment disqus -->
			<%- partial('comment/disqus') %>

		<% } %>

	<% } %>

</div>
